@import '../../styles/variables';

.earthMap {
	height: 100vh;
	position: relative;
	width: 100vw;

	&__map {
		height: calc(100vh - #{$ruler-width * 2});
		left: $ruler-width;
		position: absolute;
		top: $ruler-width;
		width: calc(100vw - #{$ruler-width * 2});
	}

	&__mousePosition {
		background-color: white;
		border-left: solid 1px black;
		border-top: solid 1px black;
		bottom: $ruler-width;
		color: black;
		height: 24px;
		position: absolute;
		right: $ruler-width;
		width: 200px;
		z-index: 100;

		&Label {
			color: black;
			font-size: 14px;
			height: 24px;
			left: 0;
			line-height: 24px !important;
			position: absolute;
			text-align: center;
			top: 0;
			width: 200px;
		}
	}
}